#date-select-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    background-color: var(--panel-background);
    padding: 12px 0;
}

#date-select-wrapper > span {
    padding-right: 6px;
}

#event-overview {
    padding: 12px 0;
    text-align: center;
    color: #888;
}
